SECRET_KEY=

DEBUG=

DB_NAME_BLOG=database_name
DB_NAME_CATALOG=database_name
USER=database_user
PASSWORD=database_password
HOST=database_host
PORT=database_port

EMAIL_HOST_USER=yandex_email
EMAIL_HOST_PASSWORD=your_password_for_EMAIL_HOST_USER

LOCATION=yor_location_for_redis
