{% extends 'base.html' %}
{% block content %}
<section class="py-5 text-center">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h2>
                Каталог сообщений
            </h2>
        </div>
    </div>
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <p>
                <a class="p-2 btn btn-outline-primary" href="{% url 'mailings:letter_create' %}">Добавить письмо</a>
            </p>
        </div>
    </div>
</section>
<div class="container">
    <div class="row text-center">
        {% for letter in letters %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ letter.title }}</h4>
                </div>
                <div class="card-body">
                    <p>Описание: {{ letter.description | truncatechars:100 }}</p>
                    {% if request.user == letter.owner or perms.users.can_disable_user %}
                        <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailings:letter_detail' letter.pk %}">Подробнее</a>
                    {% endif %}
                    {% if request.user == letter.owner %}
                        <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailings:letter_update' letter.pk %}">Редактировать</a>
                        <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailings:letter_delete' letter.pk %}">Удалить</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}