{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-2">
        </div>
        <div class="col-8">
            <h4>Название рассылки: {{ mailing.letter }}</h4>
            <p>Дата старта: {{ mailing.start_sending }}</p>
            <p>Дата завершения: {{ mailing.end_sending }}</p>
            <p>Статус: {{ mailing.status }}</p>
            <p>Список получателей: {{ mailing.mailing_list_recipient }}</p>
            <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'sending_messages:mailing_list' %}">Назад</a>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
{% endblock %}