{% extends 'base.html' %}
{% block content %}
<section class="py-5 text-center">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h2>
                Каталог клиентов
            </h2>
        </div>
    </div>
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <p>
                <a class="p-2 btn btn-outline-primary" href="{% url 'sending_messages:recipient_create' %}">Добавить получателя рассылки</a>
            </p>
        </div>
    </div>
</section>
<div class="container">
    <div class="row text-center">
        {% for recipient in recipients %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <p>{{ recipient.email }}</p>
                    <p>ФИО: {{ recipient.recipient_name }}</p>
                    <p>{{ recipient.comment | truncatechars:100 }}</p>
                    <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'sending_messages:recipient_detail' recipient.pk %}">Подробнее</a>
                    <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'sending_messages:recipient_update' recipient.pk %}">Редактировать</a>
                    <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'sending_messages:recipient_delete' recipient.pk %}">Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}