{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-4">
        </div>
        <div class="col-4">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <p class="card-text">Действительно хотите удалить получателя "{{ recipient.recipient_name }}, {{ recipient.email }}"?</p>
                    <div class="card-body">
                        {% csrf_token %}
                    </div>
                </div>
                <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                    Удалить
                </button>
                <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'sending_messages:letters_list %}" role="button">Отменить</a>
            </form>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>
{% endblock %}