{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row text-center">
        <h1>Пароль изменен</h1>
        <div class="col-4">
        </div>
        <div class="col-4">
            <p>Поздравляем! Вы успешно изменили пароль своего аккаунта. Используйте его для входа в систему.</p>
            <a class="btn btn-sm btn-primary" href="{% url 'users:login' %}" role="button">Войти</a>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>
{% endblock %}