{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row text-center">
        <h1>Восстановление пароля</h1>
        <div class="col-4">
        </div>
        <div class="col-4">
            <form class="row" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for f in form %}
                <p>
                    <label class="form-label" for="{{ f.id_for_label }}">
                        {{ f.label }}:
                    </label>
                    {{ f }}
                </p>
                <div class="form-error">{{ f.errors }}</div>
                {% endfor %}
                <p>
                    <button type="submit" class="btn btn-primary">Отправить письмо для сброса пароля</button>
                </p>
            </form>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>
{% endblock %}